<div class="row mt-5">
  <div class="col-md-6 m-auto">

    <a href="/users/ucadDB" class="btn btn-lg btn-secondary">UpdateDB</a>
    <a href="/users/ucadUsers" class="btn btn-lg btn-secondary">UCAD Users</a>
     <div class="card card-body">       

      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>SELECT DB</h1>
        <div class="btn-group">                  
          <a class="btn btn-success" href="#">FlyStocks</a>
        </div>
        <p></p>
        <div class="btn-group">    
          <a class="btn btn-success" href="#">Primary Antibodies</a>
        </div>
        <p></p>
        <div class="btn-group">    
          <a class="btn btn-success" href="#">Ssecondary Antibodies</a>
        </div>
        
        
    </div>

     <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </div>
</div>






